# Python/Poetry
.venv
.env

# Foundry / Forge
broadcast/
cache/
out/
foundry.toml
remappings.txt

# Libraries (installed with forge install)
lib/openzeppelin-contracts/
lib/solmate/

# Node.js
node_modules/

# OS & Editor files
.DS_Store
.idea/
.vscode/
